# Ignore all __pycache__ directories
**/__pycache__/
# Ignore all .pyc files
**/*.pyc

# Ignore image files
classificationModel/trainingImages
/testImages
/labelledImages

# Ignore venv files
venv/
myenv/
